<div class="container padding">
    <div class="button">
        <a routerLink="/add-product" class="btn btn-success" >+Añadir</a>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th class="table-dark">Codigo</th>
                <th class="table-dark">Nombre Producto</th>
                <th class="table-dark">Descripcion</th>
                <th class="table-dark">Productor</th>
                <th class="table-dark">Fecha de Caducidad</th>
                
            </tr>

        </thead>

        <tbody>
            <!-- @for(autor of autores; track autor) { -->
            <tr>
                <td class="table-dark"></td>
                <td class="table-dark"></td>
                <td class="table-dark"></td>
                <td class="table-dark"></td>
                <td class="table-dark"></td>

            </tr>

            <!-- } -->
        </tbody>

    </table>
</div>
